body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#header { 
    background-color: maroon; 
    width: 100%; 
    height: 8em; 
    margin-top: -3em; 
    margin-left: -0.5em; 
    padding-right: 1em; 
    position: relative; 
} 

#header h1 { 
    font-size: 4em; 
    color: white; 
    text-align: center; 
    padding: 0.3em; 
} 

fieldset {
    margin-top: 4.8em; 
    margin-left: 18em; 
    width: 50%; 
    height: 75%; 
} 

fieldset h3 { 
    text-align: center; 
} 

fieldset p { 
    padding-right: 11em; 
    text-align: right;
}

fieldset p.label {
    text-align: center;
}

p.input{ 
    margin-left: -8em; 
    padding-right: 4em; 
} 

legend { 
    text-align: center;
    font-weight: bold; 
}

input.shift { 
    font-size: 0.75em; 
    margin-top: 1em; 
    margin-left: 9.2em; 
}
/*   
ul#taskNum { 
    list-style-type: none; 
    float: right;  
    padding-bottom: 8em; 
} 
    
ul#taskNum a { 
    margin: 1em; 
} 
    
ul#taskNum li { 
    display: inline;
} 
    
ul#taskNum li a{ 
    float: left;
    text-align: center;
    width: 5em;
} 
    
ul#taskNum a { 
    font-family: Arial, Helvetica, sans-serif; 
    color:maroon; 
    text-decoration: none; 
} 
    
ul li a:hover { 
    font-weight: bold; 
} 
    
#current { 
    font-weight: bold; 
} 
*/ 

#footer {
    color: white; 
    width:100%; 
    height: 5em; 
    background-color: maroon; 
    margin-left: -0.5em; 
    margin-top: 2.8em; 
    padding-right: 1em; 
    position: static; 
} 
        
#footer p { 
    color: white;
    text-align: center;
    padding-top: 2em;
}