body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/* Style rule for screens smaller than 480 pixels */
@media screen and (max-width: 30em) {
 /*
    #bottom {
        color: black;
        width: 102%;
        margin-left: -1em;
        margin-right: -1em;
        margin-top: -8em;
    }
*/ 
}
/* Style rule for screens smaller than 1080 pixels */
@media screen and (max-width: 1080px) {
/*
    #bottom {
        color: black;
        width: 102%;
        margin-left: -1em;
        margin-right: -1em;
        margin-top: -8em;
    }
*/

}

/* Style rule for screens smaller than 1920 pixels*/
@media screen and (max-width: 1920px) {

    #bottom {
        color: black;
        width: 102%;
        margin-left: -1em;
        margin-right: -1em;
        margin-top: -8em;
    }

    div img {
        clear: left;
        position: absolute;
        margin-top: -9em;
        margin-left: -1em;
        z-index: -3;
    }

    div article {
        color:white;
        padding-left: -1em;
        margin-left: 4em;
        margin-top: 18em;
    }

    nav ul {
        text-align: center;
        width: 26em;
        height:2em;
        list-style-type: none;
        display: inline-block;
        margin-left: 48em;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        display: block;
        width: 8em;
        margin-top: 0.2em;
    }

    nav ul li a:hover {
        font-weight: bold;
        color: white;
    }

    li#current a {
        font-weight: bold;
        text-decoration: underline;
    }


   div a.explorebtn { 
        width: 6em;
        height:2em;
        border:1px solid white;
        text-align: center;
        margin-top: 12em;
        margin-left: 35em;
        float: left;
        z-index: 2;
    
    }

    div a {
        width: 4em;
        height: 2em;
        margin-left: 8em;
        color: white;
        text-decoration: none;
    }
    
    div a:hover {
        font-weight: bolder;
    }

    #footer { 
        color: white; 
        width:106%; 
        height: 4.7em;
        background-color: black;
        margin-left: -2em; 
        margin-top: 8.5em;
        z-index: 2;
    } 
            
    #footer p { 
        color: white;
        text-align: center;
        padding-top: 1.5em;
    }
}
